In [1]:
## imports
import pandas as pd
import numpy as np
import re
import requests
import yaml


## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Example 1: no credentials; no wrapper

Site: National Assessment of Education Progress (NAEP)

Documentation: https://www.nationsreportcard.gov/api_documentation.aspx

Base link: https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx

In [ ]:
every site with api will have documentation so look there if you have a problem

## 1.1 Query to pull some data

In [2]:
## using their example query of 2011 writing scores separated by gender
## based on here - https://stackoverflow.com/questions/40836749/pythonic-way-of-writing-a-single-line-long-string
## using the ( ) syntax to formulate a long
## string without linebreaks added
example_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')


example_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'

In [3]:
## use requests to call the api
naep_resp = requests.get(example_naep_query)
naep_resp
print(type(naep_resp))

## get the json contents of the response 
## here, we're assuming valid response
naep_resp_j = naep_resp.json()
naep_resp_j

## with result, turn it into a dataframe
naep_resp_d = pd.DataFrame(naep_resp_j['result'])
naep_resp_d

<class 'requests.models.Response'>

{'status': 200,
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 139.099504632971,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 158.567104984955,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,2,Female,158.567105,1,0

## 1.2 What happens if there's an error in our query?

In [4]:
## here's a query that from the documentation we know
## won't work since i modified year to 2025 which doesnt
## exist in the data
wrong_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025')

wrong_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025'

In [ ]:
## use requests to call the api
naep_wrong_resp = requests.get(wrong_naep_query)
naep_wrong_resp

In [ ]:
## in the case of this particular api,
## the call returns some response but
## when we try to extract the json containing
## status or results, we get in an error
#naep_wrong_resp.json() # uncomment to see error

### 1.2.2 More all-purpose way of allowing remainder of calls to run: try, except

In [ ]:
## putting it in a try; except as general error catching
try:
    results = naep_wrong_resp.json()['result']
except Exception as e:
    print('Failed to get result from API due to error:')
    print(e) # or just: pass

### 1.2.3 Can usually also find more targeted way but that varies more across APIs

In [ ]:
## if we wanted do more specific error catching,
## see that the status == 400 actually appears here
## so could write if else along those lines
naep_wrong_resp.text
naep_resp.text

if "System.Exception" in naep_wrong_resp.text:
    print("NAEP results not found")

## Activity 1: writing a function to make multiple, sequential calls

- Say we want to pull the data for grades 4, 8, and 12
- How can we write a function that iterates over a list of those grades and pulls the data for each grade?

**Note**: an ideal function would have arguments for each parameter in the API like subject, subscale, etc. Here we can leave those other parts constant

In [ ]:
def callq(grades: list,
         baseurl = 'https://www.nationsreportcard.gov/',
         query1 = 'Dataservice/GetAdhocData.aspx?type=data&subject=writing',
         query3 = '&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'):
    
    dflist = []
    query = baseurl + query1 +

In [12]:
def callq(grades):
    flist = [grades]
    query = (
        'https://www.nationsreportcard.gov/'
        'Dataservice/GetAdhocData.aspx?'
        'type=data&subject=writing&grade=8'
        'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'
    )
    
    for i in grades:
        query = re.sub(r'8', grades[i], query)
        
    resp = request.get(query)
    respj = resp.json()
    respdf = pd.DataFrame(respj['result'])
    
    return respdf

In [13]:
callq([4,8,12])

IndexError: list index out of range

# 2. Example 2: needs credentials; no wrapper

Create an account here: https://www.yelp.com/developers/v3/manage_app

In [14]:
## get the key
API_KEY = '1Gh9eKod5_-vX1otu_KEzcFphmJC58Kwb2qsJbcKPn76WUI7eW6biYfFe6R6Pmx_7NRaaQraF-Co_eLwcjvLl-DGQ4A0wHE8Z6WlFm9Bum6lEFvh9wiLufavouMtZXYx'

In [27]:
## use documentation to define what to search
## doc: https://www.yelp.com/developers/documentation/v3/business_search
## write the query 
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"
my_location = "Hanover,NH,03755"
yelp_genquery = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location)

## use requests to call the API; here, we're
## passing it our credentials (structure varies
## by API and telling it to only return 10 results
## (max is 50 at once)
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp = requests.get(yelp_genquery, headers = header)
yelp_genresp

## then, look at structure of response
yelp_genjson = yelp_genresp.json()

In [28]:
## example business
yelp_genjson['businesses'][0]

## more automatic way of summarizing but things end up in lists
## within columns for things like categories
yelp_gendf = pd.DataFrame(yelp_genjson['businesses'])
yelp_gendf.head()

{'id': 'XVGEEIH5rVB2QzW-qywcJw',
 'alias': 'base-camp-cafe-hanover',
 'name': 'Base Camp Cafe',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiEQI7p_JF82eaWa9Xg/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/base-camp-cafe-hanover?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
 'review_count': 238,
 'categories': [{'alias': 'himalayan', 'title': 'Himalayan/Nepalese'}],
 'rating': 4.5,
 'coordinates': {'latitude': 43.700626, 'longitude': -72.2887803},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '3 Lebanon St',
  'address2': 'Ste 13',
  'address3': '',
  'city': 'Hanover',
  'zip_code': '03755',
  'country': 'US',
  'state': 'NH',
  'display_address': ['3 Lebanon St', 'Ste 13', 'Hanover, NH 03755']},
 'phone': '+16036432007',
 'display_phone': '(603) 643-2007',
 'distance': 196.1397581876442}

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,False,https://www.yelp.com/biz/base-camp-cafe-hanove...,238,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",4.5,"{'latitude': 43.700626, 'longitude': -72.2887803}",[delivery],$$,"{'address1': '3 Lebanon St', 'address2': 'Ste ...",+16036432007,(603) 643-2007,196.139758
1,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,False,https://www.yelp.com/biz/mollys-restaurant-and...,500,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 43.701144, 'longitude': -72.2894249}",[delivery],$$,"{'address1': '43 South Main St', 'address2': '...",+16036432570,(603) 643-2570,250.830160
2,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,False,https://www.yelp.com/biz/sawtooth-kitchen-hano...,19,"[{'alias': 'chickenshop', 'title': 'Chicken Sh...",4.0,"{'latitude': 43.70158, 'longitude': -72.289641}",[],NaN,"{'address1': '33 S Main St', 'address2': '', '...",+16036435134,(603) 643-5134,242.607552
3,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media2.fl.yelpcdn.com/bphoto/76DCQr...,False,https://www.yelp.com/biz/murphy-s-on-the-green...,173,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 43.702, 'longitude': -72.2894949}",[delivery],$$,"{'address1': '11 S Main St', 'address2': '', '...",+16036434075,(603) 643-4075,295.207523
4,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,False,https://www.yelp.com/biz/lous-restaurant-and-b...,374,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 43.70143, 'longitude': -72.289001}",[delivery],$$,"{'address1': '30 S Main St', 'address2': '', '...",+16036433321,(603) 643-3321,244.006059

In [17]:
## more data-specific way of summarizing
## we're doing a simple approach and just retaining
## cols that have a simple str structure
## if doing for real, would want to extract things
def clean_yelp_json(one_biz):

    ## restrict to str cols
    d_str = {key:value for key, value in one_biz.items()
             if type(value) == str}
    
    df_str = pd.DataFrame(d_str, index = [d_str['id']])
    return(df_str)

yelp_stronly = [clean_yelp_json(one_b) for one_b in yelp_genjson['businesses']]
yelp_stronly_df = pd.concat(yelp_stronly)

yelp_stronly_df.head(7)

,id,alias,name,image_url,url,price,phone,display_phone
XVGEEIH5rVB2QzW-qywcJw,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,https://www.yelp.com/biz/base-camp-cafe-hanove...,$$,+16036432007,(603) 643-2007
8ybF6YyRldtZmU9jil4xlg,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,https://www.yelp.com/biz/mollys-restaurant-and...,$$,+16036432570,(603) 643-2570
5WW4g_LRwau29KyjZGLyAA,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,https://www.yelp.com/biz/sawtooth-kitchen-hano...,NaN,+16036435134,(603) 643-5134
neBEWvgHNhsXIBImCYx_6A,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media2.fl.yelpcdn.com/bphoto/76DCQr...,https://www.yelp.com/biz/murphy-s-on-the-green...,$$,+16036434075,(603) 643-4075
KA8yhrd-ClVYMyOefXdVYg,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,https://www.yelp.com/biz/lous-restaurant-and-b...,$$,+16036433321,(603) 643-3321
34j_2nRCVQBTKafJvncZlg,34j_2nRCVQBTKafJvncZlg,pine-restaurant-hanover-2,PINE Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/rD7w_r...,https://www.yelp.com/biz/pine-restaurant-hanov...,$$$,+16036468000,(603) 646-8000
vMyN7JL5cJExJORgIobbQg,vMyN7JL5cJExJORgIobbQg,tuk-tuk-thai-cuisine-hanover,Tuk Tuk Thai Cuisine,https://s3-media4.fl.yelpcdn.com/bphoto/--bUG3...,https://www.yelp.com/biz/tuk-tuk-thai-cuisine-...,$$,+16032779192,(603) 277-9192

# Activity 2: pull restaurants in a different location

- Try running a business search query for your hometown or another place by constructing a query similar to `yelp_genquery` but changing the location parameter
- Other endpoints require feeding what's called the business' fusion id into the API. Take an id from `yelp_stronly.id` and use the documentation here to pull the reviews for that business: https://docs.developer.yelp.com/reference/v3_business_reviews
- **Challenge**: generalize the previous step by writing a function that (1) takes a list of business ids as an input, (2) calls the reviews API for each id, (3) returns the results, and (4) rowbinds all results, i.e. turns them into a single, usable DataFrame

In [29]:
home = "Sleepy Hollow,NY,10591"
yelp_genquery_home = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = home)

header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp_home = requests.get(yelp_genquery_home, headers = header)
yelp_genresp_home

## then, look at structure of response
yelp_genjson_home = yelp_genresp_home.json()

In [30]:
yelp_genjson_home['businesses'][0]

yelp_gendf_home = pd.DataFrame(yelp_genjson_home['businesses'])
yelp_gendf_home.head()

{'id': 'Y7Va0ilxNieyqhgmkJuWLg',
 'alias': 'bridge-view-tavern-and-beer-garden-sleepy-hollow-5',
 'name': 'Bridge View Tavern & Beer Garden',
 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/FArNLlqTfqm0spy0WqCXZg/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/bridge-view-tavern-and-beer-garden-sleepy-hollow-5?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
 'review_count': 1029,
 'categories': [{'alias': 'newamerican', 'title': 'American (New)'},
  {'alias': 'beergardens', 'title': 'Beer Gardens'}],
 'rating': 4.5,
 'coordinates': {'latitude': 41.08229, 'longitude': -73.867866},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '226 Beekman Ave',
  'address2': '',
  'address3': '',
  'city': 'Sleepy Hollow',
  'zip_code': '10591',
  'country': 'US',
  'state': 'NY',
  'display_address': ['226 Beekman Ave', 'Sleepy Hollow, NY 10591']},
 'phone': '+19143320078',
 'display_phone': '(914) 332-0078',
 'distance': 2821.390727438363}

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,Y7Va0ilxNieyqhgmkJuWLg,bridge-view-tavern-and-beer-garden-sleepy-holl...,Bridge View Tavern & Beer Garden,https://s3-media4.fl.yelpcdn.com/bphoto/FArNLl...,False,https://www.yelp.com/biz/bridge-view-tavern-an...,1029,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.08229, 'longitude': -73.867866}",[delivery],$$,"{'address1': '226 Beekman Ave', 'address2': ''...",+19143320078,(914) 332-0078,2821.390727
1,6DxW3vfDY1t73kUXmXEdPA,beekman-ale-house-sleepy-hollow,Beekman Ale House,https://s3-media4.fl.yelpcdn.com/bphoto/PF5Koa...,False,https://www.yelp.com/biz/beekman-ale-house-sle...,98,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",5.0,"{'latitude': 41.084083, 'longitude': -73.862254}",[pickup],$$,"{'address1': '92 Beekman Ave', 'address2': Non...",+18458273505,(845) 827-3505,2918.344991
2,y2P7Mtv3Y4ccU0mUBvcpvA,sweet-grass-grill-tarrytown,Sweet Grass Grill,https://s3-media2.fl.yelpcdn.com/bphoto/4SSKoC...,False,https://www.yelp.com/biz/sweet-grass-grill-tar...,884,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 41.0764847, 'longitude': -73.8594...","[delivery, pickup, restaurant_reservation]",$$,"{'address1': '24 Main St', 'address2': '', 'ad...",+19146310000,(914) 631-0000,2052.059772
3,SWoD2dUkoOgsdQFrYoAktg,grass-roots-kitchen-tarrytown,Grass Roots Kitchen,https://s3-media4.fl.yelpcdn.com/bphoto/noiOvs...,False,https://www.yelp.com/biz/grass-roots-kitchen-t...,195,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.079684, 'longitude': -73.863519}","[delivery, pickup]",$$,"{'address1': '124 Wildey St', 'address2': '', ...",+19149095588,(914) 909-5588,2452.048430
4,q64J5ZJjqPlLQU9y1cuD7g,bibille-tarrytown,Bibille,https://s3-media2.fl.yelpcdn.com/bphoto/Np3I5-...,False,https://www.yelp.com/biz/bibille-tarrytown?adj...,311,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 41.07618, 'longitude': -73.85905}","[delivery, pickup]",$$,"{'address1': '14 Main St', 'address2': '', 'ad...",+19143727677,(914) 372-7677,2022.675771

In [33]:
url2 = "https://api.yelp.com/v3/businesses/bridge-view-tavern-and-beer-garden-sleepy-hollow-5/reviews?limit=20&sort_by=yelp_sort"

headers2 = {"accept": "application/json"}

response2 = requests.get(url2, headers=header)

print(response2.text)

{"reviews": [{"id": "zBepf5O7x0J2KEA_1hckGA", "url": "https://www.yelp.com/biz/bridge-view-tavern-and-beer-garden-sleepy-hollow-5?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=zBepf5O7x0J2KEA_1hckGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w", "text": "My husband and I are new to New York, so we've been exploring different places and let me tell you... This place has the best burger I've ever had. \n\nTo...", "rating": 5, "time_created": "2023-08-10 16:17:10", "user": {"id": "lTpVJ9C0pjYW_fx1JYhZTA", "profile_url": "https://www.yelp.com/user_details?userid=lTpVJ9C0pjYW_fx1JYhZTA", "image_url": "https://s3-media2.fl.yelpcdn.com/photo/jvISzL3bu0vjk4nRySKAlg/o.jpg", "name": "Nicole R."}}, {"id": "b-KLo4VvrBOC1ZrUKuTJww", "url": "https://www.yelp.com/biz/bridge-view-tavern-and-beer-garden-sleepy-hollow-5?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=b-KLo4VvrBOC1ZrUKuTJww&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w", "text": "Irresponsibly Terrible Food. Like, JFC, why do people who work in the restaurant industry and pursue careers in kitchens have such low standards for food...", "rating": 1, "time_created": "2023-08-28 12:26:38", "user": {"id": "AqHAgFzkfzAptSuZOfb16g", "profile_url": "https://www.yelp.com/user_details?userid=AqHAgFzkfzAptSuZOfb16g", "image_url": "https://s3-media2.fl.yelpcdn.com/photo/uKrEPBvylm79OkpC97zhwg/o.jpg", "name": "Kenneth H."}}, {"id": "gOkhTUmqTHHeZEesiuXW1Q", "url": "https://www.yelp.com/biz/bridge-view-tavern-and-beer-garden-sleepy-hollow-5?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=gOkhTUmqTHHeZEesiuXW1Q&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w", "text": "Stopped by during a Sunday afternoon drive.  Parking was plentiful, easily accessible and adjacent to tavern. Look up the word \"Teamwork\" in the dictionary...", "rating": 4, "time_created": "2023-07-23 11:46:38", "user": {"id": "vwjuguTf3VBO6fEjkzY2xw", "profile_url": "https://www.yelp.com/user_details?userid=vwjuguTf3VBO6fEjkzY2xw", "image_url": "https://s3-media3.fl.yelpcdn.com/photo/GiQuEpcRPM0C1Pr1HnxD7w/o.jpg", "name": "Rosalind P."}}], "total": 1029, "possible_languages": ["en"]}

In [37]:
bvjson = response2.json()
bvdf = pd.DataFrame(bvjson['reviews'])
bvdf

,id,url,text,rating,time_created,user
0,zBepf5O7x0J2KEA_1hckGA,https://www.yelp.com/biz/bridge-view-tavern-an...,"My husband and I are new to New York, so we've...",5,2023-08-10 16:17:10,"{'id': 'lTpVJ9C0pjYW_fx1JYhZTA', 'profile_url'..."
1,b-KLo4VvrBOC1ZrUKuTJww,https://www.yelp.com/biz/bridge-view-tavern-an...,"Irresponsibly Terrible Food. Like, JFC, why do...",1,2023-08-28 12:26:38,"{'id': 'AqHAgFzkfzAptSuZOfb16g', 'profile_url'..."
2,gOkhTUmqTHHeZEesiuXW1Q,https://www.yelp.com/biz/bridge-view-tavern-an...,Stopped by during a Sunday afternoon drive. P...,4,2023-07-23 11:46:38,"{'id': 'vwjuguTf3VBO6fEjkzY2xw', 'profile_url'..."

In [ ]:
def getreviews(ids: list, 
               url = 'https://api.yelp.com/v3/businesses/',
              url2 = '/reviews?limit=20&sort_by=yelp_sort'):
    
    grlist = []
    
    for c in ids:
        query = url1 + id[c] + url2
        getit = requests.get(query, headers = header)
        grlist.append()